
body {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

body.loaded {
  opacity: 1;
}
.footer-top {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-top .container {
  width: 80%;
  margin: auto;
}

.footer-top .footer-section {
  text-align: center;
}